@import "../reindeer/reindeer.scss";

$blue: #00b4f0;
$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	// Include reindeer theme styles in your theme
	@include reindeer;

	// You can style your demo app right here
	.demoContentLayout {
		background-color: $gray;
		background-image: -webkit-radial-gradient(circle, #006080, #002633);
		background-image: radial-gradient(circle, #006080, #002633);
		background-position: center center;
		background-repeat: no-repeat;
		min-height: 100%;
	}

    .v-label {
        font-family: "Permanent Marker", Verdana, Arial, sans-serif;
        font-size: 50px;
        line-height: 1.6em;
        text-align: center;
        color: #cbf1ff;
        text-shadow: 0 0 13px $blue;
    }

	.webcam video:focus {
		outline: none;
	}

    .download,
    .v-disabled.download,
    .download:focus {
        cursor: pointer;
        background-image: none;
        background: #00c4ff;
        background: -webkit-linear-gradient(#73dbfd, #00c4ff);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 100ms ease-in-out;
        -moz-transition: all 100ms ease-in-out;
    }
    .download:hover {
        box-shadow: 0px 0px 8px #b2ecff;
    }
    .download:active {
        -webkit-transform: scale(0.97, 0.97);
        -moz-transform: scale(0.97, 0.97);
    }
    .download .v-button-wrap,
    .download:focus .v-button-wrap {
        background: transparent !important;
    }
    .download .v-button-caption {
        font-family: "Permanent Marker", Verdana, Arial, sans-serif;
        font-size: 18px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
    }

	.webcam,
	.gif-image,
    .gif-preview {
		background: #fff;
		padding: 7px;
		box-shadow: 0px 10px 20px -7px #000;
	}

    .gif-preview:after {
        content: "PREVIEW";
        font-family: Verdana, Arial, sans-serif;
        background: #000;
        color: #fff;
        position: absolute;
        top: 13px;
        right: -18px;
        padding: 5px 14px;
        opacity: 0.9;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    }

    .gif-preview img {
        width: 100%;
        display: block;
    }

	.frames {
		.v-image {
			margin: 10px 2px;
			padding: 2px;
			background: #fff;
			-webkit-animation-name: appear;
    		-webkit-animation-duration: 400ms;
    		-webkit-animation-timing-function: ease-out;
            -moz-animation-name: appear;
            -moz-animation-duration: 400ms;
            -moz-animation-timing-function: ease-out;
		}
	}

	// You can also customize your component for the demo
	// app, but remember that these styles are not part of
	// the component. To include built-in CSS for your component,
	// edit client/styles.css under java sources
	div.webcam {
		/*-color: $green;
		font-size: 50pt;
		font-weight: bold;
		text-shadow: 0px 3px 0px $darkgreen,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
        text-align: center;*/
	}
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100px);
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
}
@-moz-keyframes appear {
    0% {
        opacity: 0;
        -moz-transform: translate(0, -100px);
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0, 0);
    }
}
